{{!< ../default}}

<div class="page__hdr flex flex-cc m-b-lg">
  <h1>{{t "Subscribe to our Market Report"}}</h1>
</div>

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
<div class="container-fluid wrapper">
  <div class="row">
    <div class="col-xs-12">
      <div class="page__header">
        
      </div>
    </div>
  </div>
  <div class="checkout__form">
    {{!-- {{> wave}} --}}
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-4 m-b-lg">
        <div class="checkout-plan">
          <header class="checkout-plan__header">
            <h3 class="checkout-plan__title">{{t "Monthly"}}</h3>
            <div class="checkout-plan__price">
              <sup>{{@price.currency_symbol}}</sup><strong>{{@price.monthly}}</strong>/{{t "y"}}
                <br/>
            </div>
          </header>
          <div class="checkout-plan__content">
                <ul class="list--unstyled">
                  <li>{{>icon name="check" size="xs"}}{{t "Full access to all weekly posts"}}</li>
                  <li>{{>icon name="check" size="xs"}}{{t "Regular newsletters"}}</li>
                  <li>{{>icon name="check" size="xs"}}{{t "Complete access to the Market Report"}}</li>
                </ul>
            <a class="btn btn--brand btn--bordered btn--sm" href="/signup/">
              {{t "Subscribe now"}}
            </a>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 col-lg-4 m-b-lg">
        <div class="checkout-plan">
          <header class="checkout-plan__header">
            <h3 class="checkout-plan__title">{{t "Monthly"}}</h3>
            <div class="checkout-plan__price">
              <sup>{{@price.currency_symbol}}</sup><strong>{{@price.yearly}}</strong>/{{t "y"}}
                <br/>
            </div>
          </header>
          <div class="checkout-plan__content">
                <ul class="list--unstyled">
                  <li>{{>icon name="check" size="xs"}}{{t "Full access to all weekly posts"}}</li>
                  <li>{{>icon name="check" size="xs"}}{{t "Regular newsletters"}}</li>
                  <li>{{>icon name="check" size="xs"}}{{t "Complete access to the Market Report"}}</li>
                  <li>{{>icon name="check" size="xs"}}{{t "20% discount on the monthly plan"}}</li>
                </ul>
            <a class="btn btn--brand btn--bordered btn--sm" 
              href="javascript:void(0)" data-members-plan="Monthly">
              {{t "Subscribe now"}}
            </a>
          </div>
        </div>
      </div>
      
      <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-0 m-b-lg">
        <div class="checkout-plan">
          <header class="checkout-plan__header">
            <h3 class="checkout-plan__title">{{t "Annual Report"}}</h3>
            <div class="checkout-plan__price">
              <sup>{{@price.currency_symbol}}</sup><strong>1500</strong>/{{t "once"}}
                <br/>
            </div>
          </header>
          <div class="checkout-plan__content">
                <ul class="list--unstyled">
                  <li>{{>icon name="check" size="xs"}}{{t "Full access to all weekly posts"}}</li>
                  <li>{{>icon name="check" size="xs"}}{{t "Regular newsletters"}}</li>
                  <li>{{>icon name="check" size="xs"}}{{t "3 months access to the Market Report"}}</li>
                  <li>{{>icon name="check" size="xs"}}{{t "Access to the 2020 Annual Market Report"}}</li>
                </ul>
            <a class="btn btn--brand btn--bordered btn--sm" 
              href="javascript:void(0)" data-members-plan="Yearly">
              {{t "Subscribe now"}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/post}}